.d2 {
    background-color: red;
    border: 2px;
    width: 100px;
    height: 100px;
    border-color: blue;
    margin: 5px;
    border-style: solid;
    display: inline-block;
    box-shadow: 
}
.d1 {
    background-color: rgb(158, 198, 231);
    border: 2px;
    width: 100px;
    height: 100px;
    border-color: red;
    margin: 5px;
    border-style: solid;
    display: inline-block;
}
.d3 {
    background-color:#93f5f2 ;
    border: 2px;
    width: 100px;
    height: 100px;
    border-color: green;
    margin: 5px;
    border-style: solid;
    display: inline-block;
}
.d4 {
    background-color: hsl(309, 74%, 77%);
    border: 2px;
    width: 100px;
    height: 100px;
    border-color: green;
    margin: 5px;
    border-style: solid;
    display: inline-block;
}
body {
    background-image: url(./background.jpg);
    background-size: cover ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-attachment: fixed;
}
.name{
    font-style: italic;
    font-size: 50px;

}
.card{
    background: linear-gradient(rgb(209, 68, 68), rgb(64, 105, 64),rgb(2, 2, 26))
}
.card{
    width: 350px;
    height: 350px;
    border-style: double;
    back
}
.image {
    border-radius: 200px;
    border-style: solid;
}